<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/svg/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/icons/themify-icons.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <title>Docs</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container hide" id="web-view">
          <div class="navbar-nav flex">
            <img src="/svg/logo.svg" alt="Logo" class="navbar-logo" />
            <nav>
              <ul class="flex">
                <li><a href="/">Home</a></li>
                <li><a href="/urls">URLs</a></li>
                <li><a href="/docs">Docs</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="container" id="mob-view">
          <div class="navbar-nav flex" style="justify-content: space-between;">
            <div class="flex" style="gap: .4rem;">
              <img src="/svg/logo.svg" alt="Logo" class="navbar-logo" />
              <span class="navbar-logo-text">Linkdash</span>
            </div>
            <img src="/svg/menu-open.svg" alt="Menu" class="navbar-menu-button" id="menu-button-open" />
            <img src="/svg/menu-close.svg" alt="Menu" class="navbar-menu-button hide" id="menu-button-close" />
          </div>
          <div class="navbar-dropdown hide">
            <div class="dropdown-items">
              <div class="dropdown-item">
                <span class="title flex"><span>Home</span></span>
              </div>
              <div class="dropdown-item">
                <span class="title flex"><span>URLs</span></span>
              </div>
              <div class="dropdown-item">
                <span class="title flex"><span>Docs</span></span>
              </div>
              <% if(data.sid){ %>
                <div class="dropdown-item-x flex">
                  <a
                    href="/signout"
                    class="btn auth-btn-signup flex"
                    >Signout</a
                  >
                </div>
              <% }else{ %>
                <div class="dropdown-item-x flex" style="flex-direction: column">
                  <a
                    href="/signin"
                    class="btn auth-btn-signin flex"
                    >Signin</a
                  >
                  <a
                    href="/signup"
                    class="btn auth-btn-signup flex"
                    >Signup</a
                  >
                </div>
              <% }%>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container flex" style="align-items: flex-start;"> 
        <div class="form-wrapper">
            <h3 class="heading" style="text-align: left;" >Read our doc</h3>
            <figure class="text-center">
              <blockquote class="blockquote">
                <p>How the service works.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                URL-<cite title="Shortener">Shortener</cite>
              </figcaption>
            </figure>
            <ol class="list-styled">
                <li>Get a post (blog article) from somewhere</li>
                <li>Copy the URL to the post</li>
                <li>Shorten the URL using our service</li>
                <li>Don't forget to indicate the name of your target</li>
                <li>
                  Reasons?:
                  <ul>
                    <li>helps you track the person who clicks it</li>
                    <li>so you can generate more URLs for different targets</li>
                    <li>and get each of their location at the time of clicking the URL</li>
                  </ul>
                </li>
            </ol>
        </div>
      </div>
    </main>
    <footer>
      <!-- <div class="container flex">
        <ul>
          <li class="flex"><a href="#">Features</a></li>
          <li class="flex"><a href="#">Privacy policy</a></li>
          <li class="flex"><a href="#">Terms of service</a></li>
        </ul>
      </div> -->
    </footer>
  <script src="/js/main.js"></script>
  </body>
</html>
