<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/svg/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/icons/themify-icons.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <title>Home</title>

    <style>
      main,
      footer {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='800' preserveAspectRatio='none' viewBox='0 0 500 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3crect width='500' height='800' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M282.17%2c308.099C332.66%2c308.97%2c370.904%2c266.348%2c393.724%2c221.3C414.22%2c180.84%2c412.594%2c133.96%2c390.426%2c94.392C367.703%2c53.833%2c328.632%2c23.815%2c282.17%2c22.182C232.871%2c20.449%2c183.246%2c42.846%2c159.88%2c86.29C137.475%2c127.948%2c154.247%2c176.142%2c177.085%2c217.565C201.011%2c260.961%2c232.622%2c307.245%2c282.17%2c308.099' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M279.734%2c341.154C324.224%2c340.916%2c368.26%2c321.002%2c389.175%2c281.734C409.095%2c244.335%2c396.959%2c199.74%2c374.038%2c164.101C353.176%2c131.663%2c318.301%2c111.456%2c279.734%2c111.567C241.363%2c111.677%2c207.288%2c132.477%2c186.361%2c164.639C163.046%2c200.472%2c148.253%2c245.129%2c168.242%2c282.918C189.255%2c322.642%2c234.796%2c341.395%2c279.734%2c341.154' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M197.13425805793753 406.8657960682085L245.24994989501485 539.0625729120156 329.3310349017446 358.75010423113116z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M428.3209106589184 135.8556551226939L380.96389887663156 29.216669854507707 319.58000947549783 110.67584241520214z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M274.5891698652959 318.9218890744414L356.75773275664153 310.2856251088669 265.9529058997214 236.7533261830958z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M287.84315255768075 409.86256497152795L386.42417503815676 501.79085564144765 379.77144322760046 311.28154249105194z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M4.730019227095848 581.1784385880404L-41.03426149834081 688.9923276052828 112.5439082443382 626.942719313477z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M231.36634810583465 628.9872923607206L259.31643375201975 537.5666815380399 108.21047469490608 541.3518584801026z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M116.683%2c275.682C146.646%2c275.238%2c176.287%2c262.905%2c191.003%2c236.801C205.493%2c211.097%2c201.618%2c178.835%2c185.04%2c154.426C170.284%2c132.699%2c142.947%2c127.264%2c116.683%2c127.374C90.67%2c127.483%2c64.239%2c133.691%2c49.314%2c154.997C31.939%2c179.801%2c23.682%2c212.621%2c38.443%2c239.064C53.486%2c266.012%2c85.824%2c276.14%2c116.683%2c275.682' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M540.632%2c903.313C578.086%2c901.639%2c606.712%2c875.217%2c626.973%2c843.672C649.596%2c808.449%2c670.974%2c766.809%2c652.402%2c729.292C632.293%2c688.67%2c585.957%2c669.648%2c540.632%2c669.259C494.558%2c668.863%2c447.74%2c686.999%2c425.484%2c727.343C403.824%2c766.607%2c415.249%2c814.514%2c439.802%2c852.037C461.93%2c885.854%2c500.259%2c905.117%2c540.632%2c903.313' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M213.62830316989402 103.28307002971208L329.9751277865663 41.42036603716354 151.76559917734548-13.063754586960172z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M266.36362989267246 570.0887942711464L281.7042719101461 716.0452533871508 412.32008900867686 554.7481522536729z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M40.42409726167869 453.465629524625L179.0698905698427 418.89735077649203 5.855818513545721 314.819836216461z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M169.696%2c193.06C213.627%2c191.804%2c258.89%2c177.873%2c280.487%2c139.597C301.792%2c101.839%2c291.35%2c55.403%2c267.967%2c18.895C246.519%2c-14.592%2c209.394%2c-31.035%2c169.696%2c-33.38C124.428%2c-36.055%2c74.543%2c-31.523%2c49.019%2c5.959C20.804%2c47.392%2c20.195%2c104.133%2c47.365%2c146.259C72.728%2c185.583%2c122.921%2c194.397%2c169.696%2c193.06' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M344.472%2c294.315C397.274%2c294.518%2c448.023%2c270.074%2c474.758%2c224.54C501.817%2c178.455%2c499.76%2c121.372%2c473.264%2c74.961C446.535%2c28.141%2c398.38%2c-4.298%2c344.472%2c-3.677C291.528%2c-3.067%2c246.796%2c31.789%2c220.722%2c77.872C195.079%2c123.193%2c190.061%2c178.341%2c215.907%2c223.547C241.931%2c269.064%2c292.041%2c294.114%2c344.472%2c294.315' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M71.66316383779866 148.8650917601804L48.34307854285398 249.87547860148197 172.67355067910023 172.18517705512508z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M139.72444053393588 504.4631978039328L190.04488399184072 340.43171784061474 43.33762141981728 371.6153091449451z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M399.6487448604188 624.6182894841136L402.616983488837 463.3745205212655 278.14230401459633 529.5588816007588z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M261.146%2c614.644C275.465%2c614.753%2c286.244%2c603.388%2c293.567%2c591.083C301.11%2c578.41%2c306.169%2c563.376%2c299.484%2c550.23C292.252%2c536.007%2c277.071%2c526.328%2c261.146%2c527.322C246.473%2c528.238%2c236.856%2c541.396%2c230.291%2c554.551C224.539%2c566.076%2c223.681%2c579.139%2c229.565%2c590.598C236.042%2c603.213%2c246.965%2c614.536%2c261.146%2c614.644' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='500' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container hide" id="web-view">
          <div class="navbar-nav flex">
            <img src="/svg/logo.svg" alt="Logo" class="navbar-logo" />
            <nav>
              <ul class="flex">
                <li><a href="/">Home</a></li>
                <li><a href="/urls">URLs</a></li>
                <li><a href="/docs">Docs</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="container" id="mob-view">
          <div class="navbar-nav flex" style="justify-content: space-between;">
            <div class="flex" style="gap: .4rem;">
              <img src="/svg/logo.svg" alt="Logo" class="navbar-logo" />
              <span class="navbar-logo-text">Linkdash</span>
            </div>
            <img src="/svg/menu-open.svg" alt="Menu" class="navbar-menu-button" id="menu-button-open" />
            <img src="/svg/menu-close.svg" alt="Menu" class="navbar-menu-button hide" id="menu-button-close" />
          </div>
          <div class="navbar-dropdown hide">
            <div class="dropdown-items">
              <div class="dropdown-item">
                <span class="title flex"><span>Home</span></span>
              </div>
              <div class="dropdown-item">
                <span class="title flex"><span>URLs</span></span>
              </div>
              <div class="dropdown-item">
                <span class="title flex"><span>Docs</span></span>
              </div>
              <% if(data.sid){ %>
                <div class="dropdown-item-x flex">
                  <a
                    href="/signout"
                    class="btn auth-btn-signup flex"
                    >Signout</a
                  >
                </div>
              <% }else{ %>
                <div class="dropdown-item-x flex" style="flex-direction: column">
                  <a
                    href="/signin"
                    class="btn auth-btn-signin flex"
                    >Signin</a
                  >
                  <a
                    href="/signup"
                    class="btn auth-btn-signup flex"
                    >Signup</a
                  >
                </div>
              <% }%>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container flex" style="align-items: center;"> 
        <div class="form-wrapper" style="background-color: var(--primary-color);opacity:.8;border-radius: 9px;">
          <form action="/api/url" method="post" class="data-form flex">
              <h3 class="" style="text-align: center;" >Create Short URL</h3>
              <div class="form-control flex">
                  <label for="target" class="form-label">Target</label>
                  <input type="text" name="target" class="form-control" id="target" placeholder="Enter the name of target">
              </div>
              <div class="form-control flex">
                  <label for="url" class="form-label">URL</label>
                  <input type="text" name="url" class="form-control" id="url" placeholder="Paste URL here..">
              </div>
              <div class="form-cta flex">
                  <button type="submit" class="btn btn-md btn-success">Shorten URL</button>            
              </div>
          </form>
        </div>
      </div>
    </main>
    <footer></footer>
  <script src="/js/main.js"></script>
  </body>
</html>
