<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/svg/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/icons/themify-icons.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <title>Signin</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="container flex"> 
        <div class="form-wrapper">
          <div class="form-wrapper-logo flex">
            <img src="/svg/logo.svg" alt="" class="logo">
          </div>
          <h4 class="heading">Sign In</h4>
          <form action="/signin" method="post" class="auth-form flex">
            <div class="form-control flex">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Enter your e-mail address">
            </div>
            <div class="form-control flex">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password">
            </div>
            <div class="form-cta flex">
                <button type="submit" class="btn btn-md btn-success">Sign In</button>            
            </div>
            <div class="form-control">
              <h4>Don't have an account? <a href="/signup">Signup</a></h4>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer></footer>
  <script src="/js/main.js"></script>
  </body>
</html>
