html {
  font-size: 17px;
  block-size: 100vh;
}

body {
  background-color: #fff;
  block-size: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #e7e7e7;
}

main {
  flex: 100%;
}

footer {
  background-color: var(--bg-secondary);
  padding-block: 1.2em;
}

.navbar {
  margin: 0;
  inline-size: 100%;
  overflow: visible;
  padding-block: 0.34em;
  background-color: #fff;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  z-index: 3;
  inline-size: 100%;
  background-color: #fff;
}

.navbar > .container#mob-view {
  inline-size: 100%;
  overflow: visible;
}

.navbar > .container#web-view {
  inline-size: 100%;
  overflow: visible;
}

.navbar > .container#web-view ul li {
  padding: 1em;
}

.navbar > .container#web-view ul li a {
  font-family: var(--brand-font-heading);
  color: var(--brand-text-grey);
  font-size: 1.2rem;
}

.navbar.sticky > .container#web-view ul li a {
  font-family: var(--brand-font-heading);
  color: rgb(148, 148, 148);
  font-size: 1rem;
}

.navbar > .container#web-view ul li a:hover {
  color: #dcddde;
}

.navbar > .container#web-view ul li a.active {
  color: #f3f3f3;
  border-block-end: 2px solid #f3f3f3;
}

.navbar-nav {
  overflow: visible;
}

.navbar-logo {
  cursor: pointer;
  inline-size: 32px;
  margin-inline-end: auto;
  margin-block: 8px;
}

.navbar-logo-text {
  font-family: var(--font-logo-text);
  font-weight: 800;
  font-size: 20px;
}

.navbar-menu-button {
  inline-size: 1.6rem;
}

.navbar-menu-button.close {
  border: 1px solid #e6e7ea;
  box-shadow: 0 0 2px 0 #e6e7ea;
  border-radius: 4px;
  padding: 0.5em;
}

.navbar-links > li {
  padding: 0 0.8em;
}

.navbar-links > li > a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--brand-text-dark);
}

.navbar-dropdown {
  block-size: fit-content;
  margin-block-start: 0.6em;
}


.navbar-dropdown > .dropdown-items > .dropdown-item-x .auth-btn-signin {
  font-family: Tilt Neon; 
  border: 1px solid #89ba16; 
  color: #89ba16; 
  margin-block-start: 14px; 
  padding: 12px 20px; 
  border-radius: 6px; 
  inline-size: 100%;
}

.navbar-dropdown > .dropdown-items > .dropdown-item-x .auth-btn-signup {
  font-family: Tilt Neon; 
  border: 1px solid #89ba16; 
  background-color: #89ba16;
  color: #fff; 
  margin-block-start: 14px; 
  padding: 12px 20px; 
  border-radius: 6px; 
  inline-size: 100%;
}

.navbar-dropdown > .dropdown-items > .dropdown-item > .title {
  justify-content: center;
  padding-block-end: 1em;
  padding-block-start: 1em;
}

.navbar-dropdown > .dropdown-items > .dropdown-item > .title > span {
  font-size: 0.95rem;
  font-weight: 300;
  font-family: Tilt Neon; 
  word-spacing: 0.18rem;
  color: rgb(132, 132, 132);
}

.navbar-dropdown > .dropdown-items > .dropdown-item .sub-title {
  padding-block-end: 0.4em;
  margin-block-end: 1.4em;
  border-block-end: 1px solid var(--brand-cloud-bg-color);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: #808080;
}

.navbar-dropdown > .dropdown-items > .dropdown-item .contents {
  gap: 0.68rem;
  margin-block-end: 1.4em;
  padding-inline-start: 0.8em;
}

.navbar-dropdown > .dropdown-items > .dropdown-item .content {
  inline-size: 50%;
}

.navbar-dropdown > .dropdown-items > .dropdown-item .content img {
  block-size: 35px;
  inline-size: 35px;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-dropdown > .dropdown-items > .dropdown-item .content h6 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-block-end: 0.2em;
}

.navbar-dropdown > .dropdown-items > .dropdown-item .content p {
  color: #808080;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.navbar-dropdown > .dropdown-items > .dropdown-item .contents .links li {
  background-color: var(--brand-white-bg-color);
  border-block-start: 1px solid var(--brand-cloud-bg-color);
  padding: 0.6em 0.4em;
}

.navbar-dropdown > .dropdown-items > .dropdown-item .contents .links li:last-child {
  border-block-end: 1px solid var(--brand-cloud-bg-color);
}

.navbar-dropdown > .dropdown-items > .dropdown-item .contents a {
  font-weight: 300;
  color: #878787;
  font-size: 0.875rem;
}

.form-wrapper {
  inline-size: 100%;
}

.form-wrapper .logo {
  margin: 0 auto;
  inline-size: 90px;
}

.form-wrapper .heading {
  font-size: 20px;
  text-align: center;
}

.auth-form.flex {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .6rem;
}

.auth-form .form-control.flex {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  inline-size: 100%;
  margin-block-start: .1em;
}

.auth-form .form-control * {
  flex: 1;
  inline-size: 100%;
}

.auth-form .form-control input {
  padding: .82em .6em;
  margin-block: .4em;
  border: 1px solid var(--brand-primary);
  border-radius: 6px;
  font-size: 16px;
}

.auth-form .form-control input:focus {
  outline: 0;
}

.auth-form .form-cta {
  inline-size: 100%;
}

.auth-form .form-cta button {
  padding: 1em 4em;
  background-color: var(--brand-primary);
  border: 0;
  border-radius: 6px;
  color: #fff;
  margin-block-start: .4em;
}



.data-form.flex {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .6rem;
  background-color: #f3f3f3;
  padding: 2.4rem .6rem;
}

.data-form .form-control.flex {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  inline-size: 100%;
  margin-block-start: .1em;
}

.data-form .form-control * {
  flex: 1;
  inline-size: 100%;
}

.data-form .form-control input {
  padding: .82em .6em;
  margin-block: .4em;
  border: 1px solid var(--brand-primary);
  border-radius: 6px;
  font-size: 16px;
}

.data-form .form-control input:focus {
  outline: 0;
}

.data-form .form-cta {
  inline-size: 100%;
}

.data-form .form-cta button {
  padding: 1em 4em;
  background-color: var(--brand-primary);
  border: 0;
  border-radius: 6px;
  color: #fff;
  margin-block-start: .4em;
}


.urls {
  background-color: aliceblue;
  list-style-type: none;
  border-radius: 6px;
}

.url-item {
  background-color: aliceblue;
  padding: .4em;
  border-radius: 6px;
}

.url-target-stats {
  margin-block-end: .4em;
}

.url-target-stats i {
  font-size: 12px;
}


.text-center {
  text-align: center;
}

.blockquote {
  margin: 0;
  padding: 0;
}

.blockquote p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.blockquote-footer {
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.list-styled {
  list-style-type: decimal;
  padding-left: 20px;
}

.list-styled li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.list-styled ul {
  list-style-type: disc;
  padding-left: 20px;
}

.list-styled ul li {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 5px;
}